Repository domainic/domainic, pull requests merged in 2025-01, with the labels that each got.

#188 Release domainic-attributer v0.2.0
  docs/SECURITY.md
  docs/projects/domainic-v0.1.0/README.md
  docs/projects/domainic-v0.1.0/updates/2025-01-01-01.md
  domainic-attributer/CHANGELOG.md
  domainic-attributer/docs/USAGE.md
  domainic-attributer/lib/domainic/attributer/attribute/callback.rb
  domainic-attributer/sig/domainic/attributer/attribute/callback.rbs
Labels: documentation, domainic-attributer, release

#189 Update documentation after the domainic-attributer v0.2.0 release
  docs/README.md
  docs/milestones/README.md
  docs/milestones/domainic-attributer-v0.2.0.md
  docs/milestones/domainic-command-v0.2.0.md
  docs/projects/domainic-v0.1.0/README.md
Labels: documentation, domainic-attributer

#190 Update copyright dates in LICENSE
  LICENSE
  domainic-attributer/LICENSE
  domainic-command/LICENSE
  domainic-dev/LICENSE
  domainic-type/LICENSE
Labels: domainic-dev, domainic-attributer, domainic-type, domainic-command

#192 Fix/alias typos enumerable behavior
  domainic-type/lib/domainic/type/behavior/enumerable_behavior.rb
  domainic-type/sig/domainic/type/behavior/enumerable_behavior.rbs
Labels: domainic-type

#193 Update the example in USAGE.md to use the correct method name
  domainic-command/docs/USAGE.md
Labels: domainic-command

#195 Fix codacy error for external collaborators
  .github/actions/test/ruby/action.yml
Labels: build

#194 Domainic command/feature/add and then method
  domainic-command/docs/USAGE.md
  domainic-command/lib/domainic/command/result.rb
  domainic-command/sig/domainic/command/result.rbs
  domainic-command/spec/domainic/command/result_spec.rb
Labels: domainic-command

#197 Fix docs/USAGE.md not included in gem package
  domainic-command/domainic-command.gemspec
Labels: domainic-command

#198 Fix a small bug in .yardopts files
  .yardopts
  domainic-attributer/.yardopts
  domainic-command/.yardopts
  domainic-type/.yardopts
Labels: documentation, domainic-attributer, domainic-type, domainic-command
